*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
body {
    padding: .5em;
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
}
ul {
    list-style-type: none;
}
img {
    width:200px;
}
h1{
    color: #014f013d;
    border: solid #711a1a 4px;
    padding: 20px;
}
p{
    margin-bottom: 20px
    ;
}
.recipes{
    width: 400px;
    text-align: justify;
    margin: 20px;
    padding: 10px;
}
ul li h2{
    font-size: 16px;
}
